{{ define "main" }}
    <header>
        <h3 class="section-title">{{ T "list.section" }}</h3>
        <div class="section-card">
            <div class="section-details">
                <h3 class="section-count">{{ T "list.page" (len .RegularPages) }}</h3>
                <h1 class="section-term">{{ .Title }}</h1>
                {{ with .Params.description }}
                    <h2 class="section-description">{{ . }}</h2>
                {{ end }}
            </div>
        </div>
    </header>

    {{- $paginator := partial "helper/paginator.html" . -}}
    <section class="article-list">
        {{ range $paginator.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
